In [2]:
import glob
import pandas as pd

In [37]:
#pull all .csv data files from current directory
files = glob.glob('*.csv', recursive = True)
print(test)

['JC-201901-citibike-tripdata.csv', 'JC-201902-citibike-tripdata.csv', 'JC-201903-citibike-tripdata.csv']

In [33]:
#create a df that unions all of this data
df = pd.concat([pd.read_csv(f) for f in files], ignore_index = True)

In [34]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
61842,916,2019-03-29 13:38:36.1750,2019-03-29 13:53:53.0100,3694,Jackson Square,40.71113,-74.0789,3185,City Hall,40.717733,-74.043845,29277,Subscriber,1988,1
61843,661,2019-03-29 15:29:18.7510,2019-03-29 15:40:20.2510,3694,Jackson Square,40.71113,-74.0789,3280,Astor Place,40.719282,-74.071262,26235,Subscriber,1983,2
61844,577,2019-03-30 13:43:09.2090,2019-03-30 13:52:46.7140,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730897,-74.063913,29596,Subscriber,1988,1
61845,585,2019-03-31 08:33:21.5200,2019-03-31 08:43:06.7520,3694,Jackson Square,40.71113,-74.0789,3195,Sip Ave,40.730897,-74.063913,26192,Subscriber,1988,1
61846,914,2019-03-31 14:59:32.3980,2019-03-31 15:14:46.8480,3694,Jackson Square,40.71113,-74.0789,3185,City Hall,40.717733,-74.043845,29634,Subscriber,1993,2

In [35]:
#export data to csv
df.to_csv('total_data.csv', index=False)